html {
	font-family: "Roboto Slab", Times New Roman,
		serif;
	font-size: 10px;
}

body {
	background-color: whitesmoke;
	color: rgba(0, 0, 0, 0.90);
}

#page-wrapper {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	left: 10%;
	top: 0px;
	width: 80%;
	margin: 0px auto;
	padding-top: 96px;
	-webkit-transition: left 0.5s, top 2s,
		width 0.5s, padding-top 0.5s;
}

#nav {
	display: inline-block;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 64px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 36px 12px 12px;
}

#nav * {
	vertical-align: middle;
}

#logo {
	flex: 0 0 auto;
	display: inline-block;
	font-size: 3.2em;
	font-weight: 600;
	margin-right: 12px;
	padding-bottom: 6px;
}

#nav form {
	flex: 1 1 auto;
	display: inline-block;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

input[type='text'] {
	flex: 1 1 auto;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 2.0em;
	background-color: transparent;
	padding: 0px 6px 3px;
	width: 240px;
	max-height: 28px;
	border: none;
	border-bottom: 1px solid lightgray;
	box-shadow: inset 0px 0px 0px 0px
		rgb(203, 80, 39);
	outline: none;
}

input[type='text']:focus {
	border-bottom: 1px solid rgb(203, 80, 39);
	box-shadow: inset 0px -1px 0px 0px
		rgb(203, 80, 39);
}

#nav button {
	flex: 0 0 auto;
	margin-left: 12px;
	border: none;
	border-radius: 50%;
	width: 3.6em;
	height: 3.6em;
	line-height: 2.4em;
	text-shadow: 0px -1px 1px
		rgba(0, 0, 0, 0.5);
	background-color: rgb(203, 80, 39);
	outline: none;
	color: white;
	box-shadow: 0px 4px 4px 0px
		rgba(0, 0, 0, 0.2),
		0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	bottom: 0px;
	z-index: 30;
	-webkit-transition: box-shadow 0.2s;
}

#nav button:active {
	box-shadow: 0px 8px 8px 0px
		rgba(0, 0, 0, 0.2),
		0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

#nav button i {
	font-size: 1.4em;
}

/* Homepage */

body.homepage #page-wrapper {
	top: calc(50% - 64px);
}

body.homepage #nav {
	/*position: relative;*/
}

/* Rendering */

.equation.render {
	font-size: 3.2em;
	font-weight: 300;
}

.solution.render {
	font-size: 3.2em;
	font-weight: 400;
}

.render .expression-group,
.render .multiply-group,
.render .fraction-group,
.render .exponent-group,
.render .algebra-group,
.render .operation,
.render .number {
	display: inline-block;
	/*vertical-align: middle;*/
}

.render .equals {
	margin: 0em 0.3em;
	opacity: 0.5;
}

.render * .parentheses:not(.exponent)::before,
.render .fraction.base::before {
	content: "(";
}

.render * .parentheses:not(.exponent)::after,
.render .fraction.base::after {
	content: ")";
}

.render .negative:first-child::before,
.render .multiply-group > .negative::before,
.render > .negative::before {
	content: "-";
}

.render .fraction > * > .expression-group::before,
.render .fraction > * > .expression-group::after {
	content: "";
}

.render .fraction.base {
	position: relative;
	padding: 0em 0.5em;
}

.render .fraction.base::before,
.render .fraction.base::after {
	position: absolute;
	top: calc(50% - 0.75em);
}

.render .fraction.base::before {
	left: 0.05em;
}

.render .fraction.base::after {
	right: 0.05em;
}

.render .highlighted {
	background-color: rgb(252, 234, 168);
}

.render .operation:not(
	.exponent-wrapper):not(
	.fraction) {
	padding: 0em 0.15em;
}

.render .parentheses > .fraction:first-child,
.render .parentheses > *:first-child >
	.fraction:first-child {
	margin-left: 0.10em;
}

.render .parentheses > .fraction:last-child,
.render .parentheses > *:last-child >
	.fraction:last-child {
	margin-right: 0.10em;
}

.render .exponent {
	vertical-align: super;
	font-size: 0.7em;
}

.render .fraction {
	vertical-align: middle;
}

.render .fraction > * {
	display: block;
	font-size: 0.8em;
	text-align: center;
}

.render .fraction > .numerator {
	border-bottom: 1px solid black;
	vertical-align: bottom;
}

.card:not(.white) .render
	.fraction > .numerator {
	border-bottom-color:
		rgba(255, 255, 255, 0.9);
}

.render .operation[data-operation='-'
		]:first-child {
	padding-right: 0px;
}

#output:empty ~ #footer {
	font-size: 1.2em;
	opacity: 0;
}

#footer {
	padding: 12px;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	font-size: 1.8em;
	color: rgba(0, 0, 0, 0.85);
}

@media (max-width: 640px) {

#page-wrapper {
	left: 0px;
	width: 100%;
	padding: 12px;
	padding-top: 168px;
}

#nav {
	flex-direction: column;
	align-items: initial;
	width: 100%;
	height: 96px;
	padding-top: 12px;
}

#nav #logo {
	margin-right: 0px;
	margin-bottom: 6px;
	text-align: center;
}

#nav > form {
	display: flex;
	padding-top: 12px;
	width: 100%;
}

#nav input[type='text'] {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	width: 100%;
	font-weight: 300;
	max-height: none;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
}

#nav button {
	position: absolute;
	right: 10px;
	bottom: -64px;
	-webkit-transition: bottom 0.4s;
}

body.mobile #nav input[type='text']:focus + button {
	bottom: 32px;
}

#nav #suggestion {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	left: 12px;
	bottom: -64px;
	width: calc(100% - 24px);
	height: 48px;
	padding: 12px 18px;
	border-radius: 24px;
	background: rgba(0, 0, 0, 0.6);
	background: linear-gradient(to right,
		rgba(0, 0, 0, 0.1) 75%,
		rgba(0, 0, 0, 0.0) 100%);
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 500;
	font-size: 1.6em;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.6);
}

/* Homepage */

body.homepage #page-wrapper {
	/*padding-top: 0px;*/
	top: calc(50% - 128);
}

body.homepage #nav {
	
}

body.mobile.homepage #nav
	input[type='text']:focus + button {
	bottom: 48px;
}

#footer {
	text-align: center;
}

}