.card {
	position: relative;
	margin: 12px 0px 0px;
	padding: 12px;
	border-radius: 1px;
	box-shadow: 0px 2px 4px 0px
		rgba(0, 0, 0, 0.2),
		0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	-webkit-transition: margin-top 0.3s;
}

.card:not(.no-padding)[data-label] {
	padding-top: 36px;
}

.card.no-padding[data-label] {
	padding-top: 28px;
}

.card[data-label]::before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	padding: 6px 10px;
	margin-bottom: 12px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	font-family: "Roboto", Arial, sans-serif;
	font-size: 1.4em;
	content: attr(data-label);
}

.card.white[data-label]::before {
	background-color: transparent;
}

.card.no-padding {
	padding: 0px;
}

.card:not(.expanded) + .card.joined-top:not(.expanded) {
	margin-top: 0px;
	border-top: 0px;
}

.card.white {
	background-color: white;
	color: rgba(0, 0, 0, 0.85);
}

.card:not(.white) {
	color: rgba(255, 255, 255, 0.90);
}

.card.leaf {
	background-color: rgb(129, 179, 66);
}

.card.skin {
	background-color: rgb(203, 80, 39);
}

.card.suggestions {
	padding: 0px 6px;
}

.card > .render {
	display: inline-block;
}

.card:not(.white) > .render .radicand {
	border-color: rgba(255, 255, 255, 0.90);
}

.card:not(.white) > .render .radical {
	background-color: rgba(255, 255, 255, 0.90);
}

.card > .query-info {
	font-weight: 300;
	font-size: 2.0em;
}

.card > .query-info ~ .render {
	margin-left: 8px;
}

.card > .render ~ .query-info {
	margin-left: 8px;
}

.card > .query-info > .emphasis,
.card > .query-info > .equals {
	
}

.card > .hint {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	position: relative;
	margin-top: 12px;
	top: 6px;
	opacity: 0.75;
}

.card > .hint > .fa {
	width: 20px;
	margin-right: 8px;
	text-align: center;
}

.module > .title,
.suggestion {
	display: block;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 2.0em;
	padding: 12px;
	cursor: pointer;
	-webkit-transition: font-size 0.2s;
}

.suggestion {
	border-top: 1px solid #E8E8E8;
}

.module > .title {
	font-weight: bold;
}

.module.expanded > .title {
	font-size: 2.4em;
}

.module > .title::before,
.suggestion > .fa {
	padding-right: 8px;
}

.module > .title::before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: "\f161";
}

.module.expanded > .title::before {
	content: "\f00d";
}

.module-step {
	-webkit-transition: padding 0.3s,
		max-height 0.3s, opacity 0.3s;
}

.embedded-module {
	-webkit-transition: padding 0.3s,
		max-height 0.3s, opacity 0.5s,
		bottom 0.5s;
}

.module-step {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	position: relative;
	border-top: 1px solid #E8E8E8;
	margin: 0px 6px;
	padding: 12px;
	font-size: 2.0em;
	max-height: 200px;
	overflow: hidden;
	opacity: 1;
}

.module:not(.expanded) > .module-step,
.module:not(.expanded) > .embedded-module,
.hidden.embedded-module > .module-step {
	padding: 0px 12px;
	border-top: 0px;
	max-height: 0px;
	opacity: 0;
	-webkit-transition: padding 0.3s,
		max-height 0.3s, opacity 0.2s;
}

.module-step::before {
	display: inline-block;
	padding-left: 6px;
	padding-right: 12px;
	color: rgb(129, 179, 66);
	font-size: 1.5em;
	min-width: 32px;
	content: attr(data-order);
}

.module-step > .content {
	flex: 1 1 auto;
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
}

.module-step > .content > .title {
	flex: 1 1 auto;
	display: inline-block;
	text-align: left;
}

.module-step > .content > .title .render {
	display: inline-block;
}

.module-step > .content > .render {
	flex: 1 1 auto;
	font-size: 1.5em;
	font-weight: 300;
	text-align: right;
}

.module-step > .content > .render.right-side::before,
.module-step > .content > .render.left-side::after {
	opacity: 0.2;
	content: "=";
}

.module-step > .content > .render .equals {
	opacity: 0.2;
}

.module-step > .content > .render.right-side::before {
	padding-right: 6px;
}

.module-step > .content > .render.left-side::after {
	padding-left: 6px;
}

.hidden.embedded-module {
	/*background-color: whitesmoke;*/
	/*box-shadow: inset 0px -1px 0px 0px #E8E8E8,
		inset 0px 1px 0px 0px #E8E8E8;*/
	/*box-shadow: inset 0px 3px 2px -2px
		rgba(0, 0, 0, 0.1);*/
}

.embedded-module:not(.hidden) {
	/*box-shadow: inset -1px 0px 0px 0px #cb5027,
		inset 1px 0px 0px 0px #cb5027;*/
}

.embedded-module {
	margin: 0px 6px;
	padding-left: 0px;
	text-align: center;
}

.expanded > .hidden.embedded-module {
	position: relative;
	top: -20px;
	border-bottom: 1px solid #E8E8E8;
}

.expanded > .embedded-module::after {
	display: inline-block;
	position: relative;
	bottom: 6px;
	/*border-radius: 20px;*/
	height: 40px;
	padding: 0px 12px;
	line-height: 40px;
	font-size: 1.5em;
	/*background-color: rgb(129, 179, 66);*/
	background-color: white;
	color: #ccc;
	content: "Show less";
	-webkit-transition: bottom 0.3s;
}

.expanded > .hidden.embedded-module::after {
	bottom: -20px;
	/*color: rgb(129, 179, 66);*/
	/*background-color: rgb(203, 80, 39);*/
	content: "Show " attr(data-count) " more";
}

.expanded > .embedded-module:hover::after {
	color: rgb(129, 179, 66);
}

.embedded.module-step::before {
	color: rgb(203, 80, 39);
}

.embedded-module > .module-step {
	margin-left: 18px;
}

/*.embedded-module > .module-step:first-child,*/
.hidden.embedded-module + .module-step {
	border-top-color: transparent;
}

@media (max-width: 640px) {

.module-step > .content {
	flex-flow: column nowrap;
	align-items: flex-start;
}

.module-step > .content > .title,
.module-step > .content > .render {
	text-align: left;
}

}